*{
    margin: 0;
    padding: 0;
}

#wrap{
    text-align: left;
    width: 600px;
    margin: 30px auto;
}
.left{
    text-align: left;
    /*margin-left: 192px;*/
}

#message{
    color: red;
    font-size: 12px;
}
