*{
    margin: 0;
    padding: 0;
}
#wrap{
    width: 500px;
    text-align: center;
    margin: 20px auto;
}
input{
    margin: 10px 0;
}
textarea{
    margin-top: 10px;
    resize: none;
    height: 45px;
    width: 132px;
}
#type{
    margin-right: 40px;
}