*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(84, 84, 238);
}
#wrap{
    width: 400px;
    height: 255px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 120px;
}
#wrap .title{
    width: 250px;
    height: 40px;
    text-align: center;
    margin: 0 auto;
    background-color: rgb(4, 163, 255);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.title > h2{
    font-weight: normal;
    color: #fff;
    letter-spacing: 6px;
}
.info{
    width: 58%;
    margin: 40px auto;
}
.btn{
    width: 60px;
    height: 21px;
    margin: 0 auto;
    margin-top: 10px;
}
.btn>button{
    color: #fff;
    width: 60px;
    height: 21px;
    background-color: rgb(4, 163, 255);
}

#verification{
    width: 60px;
}