<beans>
    <bean key="DeptDao" value="dao.Impl.DeptDaoImpl"/>
    <bean key="Transaction" value="util.TransactionImp"/>
    <bean key="DeptService" value="service.Impl.DeptServiceImpl">
        <property name="DeptDao" ref="DeptDao"/>
        <property name="Transaction" ref="Transaction"/>
    </bean>
    <bean key="UserDao" value="dao.Impl.UserDaoImpl"/>
    <bean key="UserService" value="service.Impl.UserServiceImpl">
        <property name="UserDao" ref="UserDao"/>
        <property name="Transaction" ref="Transaction"/>
    </bean>
    <bean key="UserService" value="service.Impl.UserServiceImpl">
        <property name="UserDao" ref="UserDao"></property>
        <property name="Transaction" ref="Transaction"/>
    </bean>
    <bean key="EmpDao" value="dao.Impl.EmpDaoImpl"/>
    <bean key="EmpService" value="service.Impl.EmpServiceImpl">
        <property name="EmpDao" ref="EmpDao"/>
        <property name="Transaction" ref="Transaction"/>
    </bean>
    <bean key="ReimburseDao" value="dao.Impl.ReimburseDaoImpl"/>
    <bean key="ReimburseService" value="service.Impl.ReimburseServiceImpl">
        <property name="ReimburseDao" ref="ReimburseDao"/>
        <property name="Transaction" ref="Transaction"/>
    </bean>
    <bean key="UserPrivilegesDao" value="dao.Impl.UserPrivilegesDaoImpl"/>
    <bean key="UserPrivilegesService" value="service.Impl.UserPrivilegesServiceImpl">
        <property name="UserPrivilegesDao" ref="UserPrivilegesDao"/>
        <property name="Transaction" ref="Transaction"/>
    </bean>
    <bean key="RoleDao" value="dao.Impl.RoleDaoImpl"/>
    <bean key="RoleService" value="service.Impl.RoleServiceImpl">
        <property name="RoleDao" ref="RoleDao"/>
        <property name="Transaction" ref="Transaction"/>
    </bean>
    <bean key="MenuDao" value="dao.Impl.MenDaoImpl"/>
    <bean key="MenuService" value="service.Impl.MenuServiceImpl">
        <property name="MenuDao" ref="MenuDao"/>
        <property name="Transaction" ref="Transaction"/>
    </bean>
    <bean key="PermissionsDao" value="dao.Impl.PermissionsDaoImpl"/>
    <bean key="PermissionsService" value="service.Impl.PermissionsServiceImpl">
        <property name="PermissionsDao" ref="PermissionsDao"/>
        <property name="Transaction" ref="Transaction"/>
    </bean>
    <bean key="UserAction" value="servlet.UserAction">
        <property name="UserService" ref="UserService"/>
    </bean>
    <bean key="DeptAction" value="servlet.DeptAction">
        <property name="DeptService" ref="DeptService"/>
    </bean>
    <bean key="EmpAction" value="servlet.EmpAction">
        <property name="EmpService" ref="EmpService"/>
    </bean>
    <bean key="ReimburseAction" value="servlet.ReimburseAction">
        <property name="ReimburseService" ref="ReimburseService"/>
    </bean>
    <bean key="PrivilegesAction" value="servlet.PrivilegesAction">
        <property name="UserPrivilegesService" ref="UserPrivilegesService"/>
    </bean>
    <bean key="RoleAction" value="servlet.RoleAction">
        <property name="RoleService" ref="RoleService"/>
    </bean>
</beans>